body {
	height: 100%;
	width: 100%;
	position: relative;
}

p {
	font-family: 'Lato', sans-serif;
}

h3 {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

/****************** Index.html ******************/
#backgroundCarousel {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#content-wrapper {
	position: absolute;
	z-index: 1 !important;
	min-width: 100%;
	min-height: 100%;
}

.container {
	padding: 10%;
}

#title {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size: larger;
	color: white;
}

#subtitle {
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
	color: white;
}

#about {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	text-align: center;
	color: black;
	background-color: rgba(255,255,255,0.75);
	padding: 5%;
}

#getStarted {
	padding-top: 5%;
}

/****************** Tweets Module ******************/
#twitter {
	margin: 10vh;
}

.twitter-timeline {
	margin-bottom: 2vh;
	max-height: 50vh;
}

#feed {
	margin: 10vh;
	margin-top: 0;
	max-width: 40vh;
	height: 60vh;
}

.tweet {
	border: 1px solid lightgray;
	border-width: 1px 1px 1px 1px;
	display: flex;
	flex-direction: row;
}

.tweet .image {
	width: 48px;
	margin:0.5em;
	padding:0px;
}

.tweet .image img {
	border: 1px solid white;
	border-radius: 0.5em;
	margin: 0px;
}

.hbox {
	display: flex;
	flex-direction: row;
}

.username {
	color: gray;
}

.vbox { 
	display: flex; 
	flex-direction: column; 
}

/****************** Crisis Statistics ******************/
#d3Chart {
	margin-left: 20vh;
	margin-top: 20vh;
}

#crisisStats {
	float: left;
	width: 750px;
}

#statsSidebar {
	float: right;
	width: 600px;
}

#sequence {
	width: 600px;
	height: 70px;
}

#legend {
	padding: 10px 0 0 3px;
}

#sequence text, #legend text {
	fill: #fff;
}

#chart {
	position: relative;
}

#chart path {
	stroke: #fff;
}

#explanation {
	position: absolute;
	top: 220px;
	left: 305px;
	width: 140px;
	text-align: center;
	color: #666;
	z-index: -1;
}

#percentage {
	font-size: 1.5em;
}

/****************** Google Map ******************/
#map {
	height: 400px;
	width: 100%;
}

.controls {
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	height: 25px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input, #destination-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 200px;
 }

#origin-input:focus, #destination-input:focus {
	border-color: #4d90fe;
 }

#mode-selector {
	color: #fff;
	background-color: #A6CFD5;
	margin-left: 12px;
	padding: 5px 11px 0px 11px;
}

#mode-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 400;
}
